
  /* veg rice dishes....................................................................................................................... */
  .frontCard.siCardA {
    background-image: url(includes/images/starters/490ef0c22cd666fbb61631cfb98b0716.jpg);
  }
  .frontCard.siCardB {
    background-image: url(includes/images/starters/55432577.jpg);
  }
  .frontCard.siCardC {
    background-image: url(includes/images/starters/R.jfif);
  }
  .frontCard.siCardD {
    background-image: url(includes/images/starters/chilliPaneer.jfif);
  }
  .frontCard.siCardE {
    background-image: url(includes/images/starters/Indian-Starters-for-Your-Wedding-Reception.jpg);
  }
  .frontCard.siCardF {
    background-image: url(includes/images/starters/Starters.jpg);
  }
  .frontCard.siCardG {
    background-image: url(includes/images/starters/vegBurger.jfif);
  }
  .frontCard.siCardH {
    background-image: url(includes/images/starters/crispy_thin_onion_seed_flatbread.jpg);
  }
  /* milkshakes...................................................................................................  */
  .frontCard.siCardI {
    background-image: url(includes/images/starters/veg-paneer-momos.jpg);
  }
  .frontCard.siCardJ {
    background-image: url(includes/images/starters/Baked-Veg-Spring-Rolls-1.jpg);
  }
  .frontCard.siCardK {
    background-image: url(includes/images/starters/panipuri.jfif);
  }
  .frontCard.siCardL {
    background-image: url(includes/images/starters/7687a1f3e73be3462bfa103e1a21292b.jpg);
  }
  .frontCard.siCardM {
    background-image: url(includes/images/starters/55070757.jpg);
  }
  .frontCard.siCardN {
    background-image: url(includes/images/starters/main-qimg-e880336fcc97c86b5d7941cb16737fe8.jpg);
  }
  .frontCard.siCardO {
    background-image: url(includes/images/starters/Samosa-Recipe.jpg);
  }
  .frontCard.siCardP {
    background-image: url(includes/images/starters/received_1303231649785543-683x1024.jpg);
  }
  
  
  /* Non veg..............................................................................................................................  */
  
  
  
  .frontCard.siCarda {
    background-image: url(includes/images/starters/Tweed_Real_Food_Spicy_Chili_Prawns_Limited_Edition_Fire_and_Spice_Grinder_Salt_2048x.jpg);
  }
  .frontCard.siCardb {
    background-image: url(includes/images/starters/sikkabab.jfif);
  }
  .frontCard.siCardc {
    background-image: url(includes/images/starters/xhdpi.jpg);
  }
  .frontCard.siCardd {
    background-image: url(includes/images/starters/R02533_Indonesian_Chicken_Satay.jpg);
  }
  .frontCard.siCarde {
    background-image: url(includes/images/starters/mughlaiMalai.jfif);
  }
  .frontCard.siCardf {
    background-image: url(includes/images/starters/Murgh-Malai-tikka-2.jpg);
  }
  .frontCard.siCardg {
    background-image: url(includes/images/starters/437dac013e33bdacca542384a3280350.png);
  }
  .frontCard.siCardh {
    background-image: url(includes/images/starters/7e00e47db5a7cf164cb60a6df9298c84.jpg);
  }
  .frontCard.siCardi {
    background-image: url(includes/images/starters/53281477.jpg);
  }
  .frontCard.siCardj {
    background-image: url(includes/images/starters/fishFinger.jfif);
  }
  .frontCard.siCardk {
    background-image: url(includes/images/starters/20140701-132130-48090580.jpg);
  }
  .frontCard.siCardl {
    background-image: url(includes/images/starters/634725590.jpg);
  }
  .frontCard.siCardm {
    background-image: url(includes/images/starters/764117ea3479b72950300a3b01bd9a3d.jpg);
  }
  .frontCard.siCardn {
    background-image: url(includes/images/starters/kolkata-egg-roll-step-14.jpg);
  }
  .frontCard.siCardo {
    background-image: url(includes/images/starters/EggDevil.jfif);
  }
  .frontCard.siCardp {
    background-image:url(includes/images/starters/crispy-fried-squid-50486975.jpg);
  }
