
.frontCard.siCardA{
    background-image:url(includes/images/desserts/IMG_6207-chocolate-molten-lava-cakes-recipe-square.jpg);
}
.frontCard.siCardB{
    background-image:url(includes/images/desserts/feature-image-red-velvet-cake-2020.jpg);
}
.frontCard.siCardC{
    background-image:url(includes/images/desserts/Vanilla-Swiss-Roll-2929-2.jpg);
}
.frontCard.siCardD{
    background-image:url(includes/images/desserts/71091.jpg);
}
.frontCard.siCardE{
    background-image:url(includes/images/desserts/44480_adorable-panda-cake-for-toddler.jpeg);
}
.frontCard.siCardF{
    background-image:url(includes/images/desserts/Strawberry-Mango-Ice-Cream-Pie-photo-of-a-single-slice-480x480.jpg);
    
}
.frontCard.siCardG{
    background-image:url(includes/images/desserts/Butter-Scotch-Cake1.jpg);
    border: 2px solid rgb(180, 174, 174);
    
}
.frontCard.siCardH{
    background-image:url(includes/images/desserts/rainbow-cake-featured-scaled.jpg);
}
/* milkshakes...................................................................................................  */
.frontCard.siCardI{
    background-image:url(includes/images/desserts/coffee-milkshake-square.jpg);
}
.frontCard.siCardJ{
    background-image:url(includes/images/desserts/53807456.webp);
}
.frontCard.siCardK{
    background-image:url(includes/images/desserts/rose-kulfi-crumble-chocolat.jpg);
}
.frontCard.siCardL{
    background-image:url(includes/images/desserts/Chocolate-Ice-Cream.jpg);
    border: 2px solid rgb(145, 132, 132);
}
.frontCard.siCardM{
    background-image:url(includes/images/desserts/Dove-Chocolate-Ice-Cream-6-scaled.jpg);
}
.frontCard.siCardN{
    background-image:url(includes/images/desserts/6888602-2000.jpg);
}
.frontCard.siCardO{
    background-image:url(includes/images/desserts/4_7ea24dcd-2646-4e77-8159-2b96809c9924_1080x.jpg);
}
.frontCard.siCardP{
    background-image:url(includes/images/desserts/Mint-choc-chip-ice-cream-1024x768.jpg);
}
/* sweets..........................................................................................................................................................  */
.frontCard.siCardQ{
    background-image:url(includes/images/desserts/Gulab-Jamun-Thumbnail.jpg);
}
.frontCard.siCardR{
    background-image:url(includes/images/desserts/Sandesh-Sweet-3.jpg);
}
.frontCard.siCardS{
    background-image:url(includes/images/desserts/Bengali-Chaler-Payesh-1-684x1024.jpg);
}
.frontCard.siCardT{
    background-image:url(includes/images/desserts/motichur-laddu-anand-sweets-bangalore.jpg);
}
.frontCard.siCardU{
    background-image:url(includes/images/desserts/milk-cake-462_1_1024x1024.png);
}
.frontCard.siCardV{
    background-image:url(includes/images/desserts/patisapta.recipe.jpg);
}
.frontCard.siCardW{
    background-image:url(includes/images/desserts/rajbhog.jpg);
}
.frontCard.siCardX{
    background-image:url(includes/images/desserts/modak153251358l1597742437.jpg);
}
