.frontCard.siCardA{
    background-image: url(includes/images/drinks/Creamy-Watermelon-Smoothie.jpg);
}
.frontCard.siCardB{
    background-image: url(includes/images/drinks/mango-juice-2.jpg);
}
.frontCard.siCardC{
    background-image: url(includes/images/drinks/Chocolate-Chip-Frappe-3.jpg);
}
.frontCard.siCardD{
    background-image: url(includes/images/drinks/blueshush.jfif);
}
.frontCard.siCardE{
    background-image: url(includes/images/drinks/mathematical-formula-for-perfect-cup-of-coffee.jpg);
}
.frontCard.siCardF{
    background-image: url(includes/images/drinks/delish-210419-iced-tea-02-landscape-jg-1619020612.jpg);
    
}
.frontCard.siCardG{
    background-image: url(includes/images/drinks/Homemade-Raspberry-Ice-Tea-IMGP-6341-5a42-Square-Test-RSRS550-1.jpg);
    border: 2px solid rgb(180, 174, 174);
    
}
.frontCard.siCardH{
    background-image: url(includes/images/drinks/lemon.jpg);
}
/*...................................................................................................  */
.frontCard.siCardI{
    background-image: url(includes/images/drinks/Mimosa-with-Strawberry.jpg);
}
.frontCard.siCardJ{
    background-image: url(includes/images/drinks/iStock-692856274.jpg);
}
.frontCard.siCardK{
    background-image: url(includes/images/drinks/freaky-fruit-red-sangria-2-glasses.jpg);
}
.frontCard.siCardL{
    background-image: url(includes/images/drinks/13931201-mmmain.jpg);
    border: 2px solid rgb(145, 132, 132);
}
.frontCard.siCardM{
    background-image: url(includes/images/drinks/69483396.webp);
}
.frontCard.siCardN{
    background-image: url(includes/images/drinks/Blue-Lagoon-Mocktail-Tasty.jpg);
}
.frontCard.siCardO{
    background-image: url(includes/images/drinks/1400x919-Rhubarb--strawberry-shrub-2d36caa5-246d-4a2a-8aca-518eb60862b7-0-1400x919.jpg);
}
.frontCard.siCardP{
    background-image: url(includes/images/drinks/Mocktail-Cucumber-Mint-Cooler-800x858.jpg);
}
