/* veg rice dishes....................................................................................................................... */
.frontCard.siCardA {
  background-image: url(includes/images/main-course/bwqtwymsxjabboszscf0.webp);
}
.frontCard.siCardB {
  background-image: url(includes/images/main-course/Mint-Paneer-Veg-Biriyani-fb1.webp);
}
.frontCard.siCardC {
  background-image: url(includes/images/main-course/hqdefault.jpg);
}
.frontCard.siCardD {
  background-image: url(includes/images/main-course/Nepalese_Veg_Pulao.jpg);
}
.frontCard.siCardE {
  background-image: url(includes/images/main-course/DSC_0429-2-750x500.jpg);
}
.frontCard.siCardF {
  background-image: url(includes/images/main-course/3569754.jpeg);
}
.frontCard.siCardG {
  background-image: url(includes/images/main-course/9a867dfbfd39e5bdc9f1211a5cf16d47.jpg);
  border: 2px solid rgb(180, 174, 174);
}
.frontCard.siCardH {
  background-image: url(includes/images/main-course/Dosa-500x400.jpg);
}
/* milkshakes...................................................................................................  */
.frontCard.siCardI {
  background-image: url(includes/images/main-course/instant-pot-pav-bhaji-1-of-2.jpg);
}
.frontCard.siCardJ {
  background-image: url(includes/images/main-course/img_0444.jpg);
}
.frontCard.siCardK {
  background-image: url(includes/images/main-course/MW-Recipe-Litti-Aug-14.jpg);
}
.frontCard.siCardL {
  background-image: url(includes/images/main-course/aloo-gobi.jpg);
  border: 2px solid rgb(145, 132, 132);
}
.frontCard.siCardM {
  background-image: url(includes/images/main-course/chana-masala-2-480x360.jpg);
}
.frontCard.siCardN {
  background-image: url(includes/images/main-course/Rajasthani-Traditional-Cuisine-Dal-Baati-Also-Know-as-Dal-Bati-or-Daal-Baati-Churma.jpg);
}
.frontCard.siCardO {
  background-image: url(includes/images/main-course/Paneer-butter-masala-recipe-3-500x375.jpg);
}
.frontCard.siCardP {
  background-image: url(includes/images/main-course/192d722849ed087bf9442e978544f954.jpg);
}
/* sweets..........................................................................................................................................................  */
.frontCard.siCardQ {
  background-image: url(includes/images/main-course/palak_paneer_recipe.jpg);
}
.frontCard.siCardR {
  background-image: url(includes/images/main-course/malai-kofta-recipe.jpg);
}
.frontCard.siCardS {
  background-image: url(includes/images/main-course/Baingan-bharta-15-1.jpg);
}
.frontCard.siCardT {
  background-image: url(includes/images/main-course/kadai-mushroom-recipe-1.jpg);


}

/* Non veg..............................................................................................................................  */



.frontCard.siCarda {
  background-image: url(includes/images/main-course/main-2.jpg);
}
.frontCard.siCardb {
  background-image: url(includes/images/main-course/5dcbca1717dc0960f009aadb_biryani.jpg);
}
.frontCard.siCardc {
  background-image: url(includes/images/main-course/bbq-pizza-318-1547837614.jpg);
}
.frontCard.siCardd {
  background-image: url(includes/images/main-course/chicken-chow-mein-b92745e3.jpg);
}
.frontCard.siCarde {
  background-image: url(includes/images/main-course/Chicken-Fried-Rice-min.jpg);
}
.frontCard.siCardf {
  background-image: url(includes/images/main-course/hot-dog-day2.jpg);
}
.frontCard.siCardg {
  background-image: url(includes/images/main-course/chicken-jalfrezi-sept20_sw_recipe.jpg);
}
.frontCard.siCardh {
  background-image: url(includes/images/main-course/garlic-chicken-recipe-china-town-style.jpg?fit=1200%2C1402&ssl=1);
}
.frontCard.siCardi {
  background-image: url(includes/images/main-course/tandoori-chicken-11-500x500.jpg);
}
.frontCard.siCardj {
  background-image: url(includes/images/main-course/devshri-chatterji20180128134028494.jpg);
}
.frontCard.siCardk {
  background-image: url(includes/images/main-course/Rajasthani_Lal_Maas_Recipe__1-2N.jpg);
}
.frontCard.siCardl {
  background-image: url(includes/images/main-course/image.jfif);
}
.frontCard.siCardm {
  background-image: url(includes/images/main-course/Rogan-Josh-2.jpg);
}
.frontCard.siCardn {
  background-image: url(includes/images/main-course/Chilli-Fish.jpg);
}
.frontCard.siCardo {
  background-image: url(includes/images/main-course/Pabda-Fish-Curry-EIR-7-1-of-1.jpg);
}
.frontCard.siCardp {
  background-image: url(includes/images/main-course/white-wine-and-herb-grilled-salmon.jpg);
}
